<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StockPage Utilizing Database</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <!--import for Chart.js-->





</head>

<body>


    <form action="#" method="POST">
        <label>Enter First Stock Symbol: </label>
        <input type="text" placeholder="Stock 1" name="s1">
        <br>
        <label>Enter Second Stock Symbol: </label>
        <input type="text" placeholder="Stock 2" name="s2">
        <br>
        <p>Sample Stock Tickers: AAPL, TSLA, GOOG, FB, MSFT</p>
        <button type="submit">Submit</button>
    </form>

    <button onclick="showChart();">See Chart!</button>




    <div><canvas id="myChart"></canvas></div>



    <script>

        var dateString = '{{dateList}}';
        var closes1String = '{{stockList1}}';
        var closes2String = '{{stockList2}}';

        console.log(dateString);
            //post inputs to web server

            //parse post to get variables

            //send variables to python process variables

            //return array data of selected inputs to the web page

            //plot chart with array data















    </script>




</body>

</html>