<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StockPage Utilizing Database</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <!--import for Chart.js-->

</head>

<body>
    <!--main form of webpage-->
    <p>Enter Two Stock Ticker Symbols and then click Submit to see their share progression over the last year</p>
    <form action="#" method="POST">
        <label>Enter First Stock Symbol: </label>
        <input type="text" placeholder="Stock 1" name="s1">
        <br>
        <label>Enter Second Stock Symbol: </label>
        <input type="text" placeholder="Stock 2" name="s2">
        <br>
        <p>Stock Tickers to choose from: AAPL, TSLA, GOOG, FB, MSFT, AMC, AMZN</p>
        <button type="submit">Submit</button>
    </form>


    <!--empty div to attach to chart object later on-->
    <div><canvas id="myChart"></canvas></div>

    <script>

        //{{}} strings are filled by the parameters returned by the flask redirect in runner.py 
        var dateString = '{{dateList}}';
        var closes1String = '{{stockList1}}';
        var closes2String = '{{stockList2}}';


        //converts string of comma separated dates to an array to be used for chart
        function datesToArray(dString) {
            rList = [];
            returnList = [];
            dList = dString.split(";");

            for (let i = 0; i < dList.length; i++) {
                if (i % 2 == 1) {
                    tempList = dList[i].split("&");
                    rList.push(tempList[0]);
                }
            }

            for (let i = 0; i < rList.length; i++) {
                let temp = rList[i];
                let trimTemp = temp.split(' ').join('');
                returnList.push(trimTemp);
            }
            return (returnList);
        }

        //converts string of closing prices to an array to be used as dataset for chart
        function numsToArray(nString) {
            nList = nString.split(",");
            returnList = [];
            firstTermList = nList[0].split("[");
            returnList.push(parseInt(firstTermList[1]));
            for (let i = 1; i < nList.length; i++) {
                returnList.push(parseInt(nList[i].trim()));
            }
            return (returnList);

        }


        //calls functions on strings and then stores them as arrays
        const datesArr = datesToArray(dateString);

        const closes1 = numsToArray(closes1String);

        const closes2 = numsToArray(closes2String);

        //attaches chart object to the canvas div above
        let myChart = document.getElementById("myChart").getContext("2d");
        new Chart(document.getElementById("myChart"), {
            type: 'line',
            data: {
                labels: datesArr,
                datasets: [
                    {
                        label: "Closing Prices for Stock 1",
                        data: closes1,
                        borderColor: "#009900"
                    },
                    {
                        label: "Closing Prices for Stock 2",
                        data: closes2,
                        borderColor: "#0066CC"

                    }
                ]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: "Price of Share ($) for Stock 1(Green) vs Stock 2 (Blue)"

                }
            }
        });


    </script>

</body>

</html>